

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    background-color: #3b484d;
}
a {
    color: white;
}
a:hover {
    color: grey;
}
footer {
    color: grey;
    padding-top: 3em;
}

.jumbotron {
    background-image: url('../img/fogdark.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}
.jumbotron h1 {
    color: white;
}
@media (min-width: 576px) and (max-width: 1000px) {
    .jumbotron h1 {
        font-size: 150px;
        color: white;
    }
    .elite-link {
        font-size: 25px;
    }
}
@media only screen and (min-width: 1000px) {
  .jumbotron h1 {
    font-size: 220px;
    color: white;
  }
  .linkbox {
    padding-top: 2.5em;
    margin-bottom: 5em;
  }
}

.barcode {
    font-family: 'Libre Barcode 128 Text', cursive;
}
.barcode-header {
    font-size: 25vw;

}
.elite {
    font-family: 'Special Elite', cursive;
}
.elite-link {
    font-size: 40px;
}
